*{
  box-sizing: border-box;
  margin: 0 0;
  font-size: large;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  margin-top: 120px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.calc-operators{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  row-gap: 10px;
  column-gap: 10px;
  margin-top: 5px;
}
p{
  background-color: rgba(0, 0, 0, 0.493);
  color: white;
  width: 50px;
  cursor: pointer;
  font-weight: bold;
  
  
}
p:hover {
  
  background-color: rgba(0, 0, 0, 0.301);
}
.calc-screen input{
  width: 230px;
  border-style: solid;
  background-color: beige;
  color: black;
}
.num-operator{
  background-color: rgb(3, 99, 143);
}
.num-operator:hover{
  background-color: rgba(3, 99, 143, 0.795);
}